/** Element Selector =============================== */
h3 {
    background-color: aqua;
}

li {
    color: green
}


/** Class Selector =============================== 
 *  "class" is an attribute can be added to any HTML element. It groups these elements into class.
 *  Can be applied to many elements.
 */
.red-text {
    color: red
}


/** Id Selector =============================== 
 *  Unique: should be only applied to one element in a single HTML file.
 */
#main {
    color:pink
}


/** Attribute Selector =============================== 
 *  Can set value.
 */
p[draggable="true"] {
    color:blue;
    font-size:30px;
    font-family: Helvetica, sans-serif;
}


/** Universal Selector =============================== 
 *  For all elements.
 */
* {
    color:black
}
