/* Your code goes here */

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Align items along main axis */
    align-items: flex-end; /* Align items along the cross axis */
    /*
    float: right;
    width: 100%;
    */
    border: 1px solid #fff;
    height: 200px;
}

